// COLORS
$primary-color: #42b6b6;
$secondary-color: #51c0c0;

$primary-color2: #f19a3e;
$secondary-color2: #f19a3e;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #555;

// For Headings
$dark-blue-text: #272341;
$dark-brown: #403233;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
